<!doctype html>
<html lang="en-US">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:700&display=swap" rel="stylesheet">
    <title>Maryland Lottery</title>
</head>

<body>
    <div id="main">
        <video id="bg-video" autoplay muted loop></video>

        <div class="panels-1">
            <div id="single" class="center"></div>
        </div>

        <div class="panels-2">
            <div id="mega" class="center"></div>
            <div id="power" class="center"></div>
        </div>

    </div>
</body>

</html>
