<!doctype html>
<html lang="en-US">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Telemundo</title>
</head>

<body>
    <main>
        <img class="bg-img" src="https://telemundo-no-te-puedes-esconder.s3.amazonaws.com/background.png" />
        <div class="clock">
            <ul class="labels">
                <li>DÍAS</li>
                <li>HORAS</li>
                <li>MINUTOS</li>
                <li>SEGUNDOS</li>
            </ul>
            <div class="counter">
                <div class="counter-inner">
                    <div class="inset">
                        <span class="inset-left"></span>
                        <span class="inset-right"></span>
                    </div>
                    <div id="days" class="time-group">
                        <li class="time-card">
                            <div class="top" data-count="0"></div>
                            <div class="bottom" data-count="0"></div>
                        </li>
                        <li class="time-card">
                            <div class="top" data-count="0"></div>
                            <div class="bottom" data-count="0"></div>
                        </li>
                    </div>
                    <div id="hours" class="time-group">
                        <li class="time-card">
                            <div class="top" data-count="0"></div>
                            <div class="bottom" data-count="0"></div>
                        </li>
                        <li class="time-card">
                            <div class="top" data-count="0"></div>
                            <div class="bottom" data-count="0"></div>
                        </li>
                    </div>
                    <div id="minutes" class="time-group">
                        <li class="time-card">
                            <div class="top" data-count="0"></div>
                            <div class="bottom" data-count="0"></div>
                        </li>
                        <li class="time-card">
                            <div class="top" data-count="0"></div>
                            <div class="bottom" data-count="0"></div>
                        </li>
                    </div>
                    <div id="seconds" class="time-group">
                        <li class="time-card">
                            <div class="top" data-count="0"></div>
                            <div class="bottom" data-count="0"></div>
                        </li>
                        <li class="time-card">
                            <div class="top" data-count="0"></div>
                            <div class="bottom" data-count="0"></div>
                        </li>
                    </div>
                </div>
            </div>

        </div>
    </main>
</body>

</html>
